# from my.telegram.org/apps
API_ID=31892977
API_HASH=e5576682d7f644ed81de5fbf5555aad5

# from @BotFather on telegram
BOT_TOKEN=8838192308:AAHpNxgtFY9dNUP4Njh2KFCRF2P0DnICfPw
LOGGER_ID=-1003921596995

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://itsarya70_db_user:mA51WxR0jVfAT3GV@itsarya.vuhni2s.mongodb.net/?appName=itsarya

OWNER_ID=8285368621

# pyrogram session from @StringFatherBot on telegram
SESSION=BQAA9-QAL3o1qolw8uL3DPPhS0lOCGBEXEUBmEVBvWdk4xKwViZHwjL-6jfaIGL68QUov0Uobb_7J1h1x1uxwIyaLYs3Ipytr9L2urlKN3SNc5-QctPUyAgREHJdSWufDqe4d2oR27DmBkAY-3cDRvmP54BMrOG1LHbwN6IjuhSEMAseNvZmzKY50HTl5aykiCdHg0OH9jLsu9NK5xLzpgvqT0Ilwyf58XcQg7w40NFzBVxhDKoYEsNtat6Txa7UmjZeTb2lfnfIZ2vCrjCuzTV3MKWMBKd296OOM5Lif-YI0UL5WboSxH1RFXuWdBNEdORy7mMM57pt7U_JnnUzlcDjoslEPQAAAAExH4oAAA