# from my.telegram.org/apps
API_ID=31037384
API_HASH=fe14a7a260b2310ee0d709dafd2b698c

# from @BotFather on telegram
BOT_TOKEN=8493023986:AAHWXdsORO1iYj_g6K8WXwKlO50o7Dsblpw
LOGGER_ID=

# mongo url from cloud.mongodb.com
MONGO_URL=

OWNER_ID=8013091544

# pyrogram session from @StringFatherBot on telegram
SESSION=BQHZl8gAD9wYGDnUuFAHmt67bN7rbzTOEScj5M-Dx6x4zdaJPIw8Q7iJwHcDsQ-ezvP9RVhmXVoL5S9D_zVu2TQmSt--lRLlWB-Er0RDuijatR-a11_CgJfKiY54C-YF_WEfTuZnpffMGt84ZTVKbUnaW1uOCC65AKLbQGb-379vaOicWvM7ixzd2En-kqo_tXPHRSRCPVVNGkYq-mKjV3JBv_KQ3w-e8BmIXdfjyoVfSuDZwREhxUuiEb9G4D6yNEs2EeNQpvG4eVNXmnQRr_paWxh9PWUCCbPCkqiuFylIE7RLQdCxAV494lwcGFRYE5aF4Le-QfUhetsZPoPAvTWXSMeMIgAAAAFOj1c2AA
